sudo: required
services: 
  - docker

before_install:
  - docker build -t corleone77/docker-react -f Dockerfile.dev .

script:
  - docker run corleone77/docker-react npm run test -- --coverage

deploy:
  provider: elasticbeanstalk
  region: eu-west-1a